<h1>Ajouter un produit</h1>

<form>
	<div class="form-group">
		<label>Nom</label> 
		<input type="text" class="form-control"ng-model="productForm.nom">
		<label>Description</label> 
		<input type="text" class="form-control"ng-model="productForm.description">
		<label>Quantite</label> 
		<input type="text" class="form-control"ng-model="productForm.quantite">
		<label>Prix</label> 
		<input type="text" class="form-control"ng-model="productForm.prix">
		<label>Id_category</label> <br/> 
		<span>{{productForm.categorie.id_c}}</span><br/> 
		<label>Nom_category</label><br/> 
		<select ng-model="productForm.categorie" ng-options="y.nom for (x, y) in allCategory"></select>
	</div>


	<button class="btn btn-primary" ng-click="gestioAddProd()">Valider</button>
	<button type="reset" class="btn btn-danger">Reset</button>
</form>