

<div>
<h1>Liste de Produits</h1>

<div align="right">
<span class="glyphicon glyphicon-shopping-cart"></span> ({{nbrArticle}}): {{price}} €
</div>
</div>

<br/>
<br/>
<div>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Categorie</th>
    </tr>
    <tr ng-repeat="Prod in allProd | filter:search">
        <td>{{Prod.id_p }}</td>
        <td>{{Prod.nom }}</td>
        <td>{{Prod.description }}</td>
        <td>{{Prod.categorie.nom }}</td>
        
    </tr>
</table>
</div>
