<div>
<h1>Liste de Categories</h1>

<div align="right">
<span class="glyphicon glyphicon-shopping-cart"></span> ({{nbrArticle}}): {{price}} €
</div>
</div>	
<br/>
<br/>
<div>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Operations</th>
    </tr>
    <tr ng-repeat="Cat in allCat | filter:search">
        <td>{{Cat.id_c }}</td>
        <td>{{Cat.nom }}</td>
        <td>{{Cat.description }}</td>
        <td><a ng-click="trouver(Cat)" class="btn btn-sm btn-warning">Liste Produits</a></td>
        
    </tr>
</table>
</div>
