
<h1>Liste de Pays</h1>

<input ng-model="search" placeholder="Rechercher: ">
<br/>
<br/>
<div>
<table class="table table-hover">
    <tr>
        <th>Pays</th>
        <th>Poupulation</th>
        <th>Operations</th>
    </tr>
    <tr ng-repeat="pays in allPays | filter:search">
        <td>{{pays.nom }}</td>
        <td>{{pays.population }}</td>
        <td><a ng-click="supprimer(pays)" class="btn btn-sm btn-warning">Supprimer</a>
         | <a ng-click="modifier(pays)" class="btn btn-sm btn-primary">Modifier</a></td>
    </tr>
</table>
</div>
