<h2>Your cart</h2>

<div>

	<div class="alert alert-warning" ng-show="article.length == 0">
		Votre panier et vide. <a href="#/liste"
			class="alert-link">Cliquer ici pour continuer vos achats</a>
	</div>
	<div ng-hide="article.length == 0">
		<table class="table">

			<thead>
				<th>Produit</th>
				<th>Prix unitaire</th>
				<th>Quantite</th>
				<th>Prix total</th>
				<th>Operation</th>
			</thead>
			<tbody>
				<tr ng-repeat="prod in article">
					<td>{{prod.nom}}</td>
					<td>{{prod.prix}}</td>
					<td>{{prod.qte}} <a ng-click="addQte(prod)"
						class="btn btn-sm btn-primary">+</a> | <a
						ng-click="removeQte(prod)" class="btn btn-sm btn-danger">-</a></td>
					<td>{{prod.prix * prod.qte}}</td>
					<td><a ng-click="remove(prod)" class="btn btn-sm btn-danger">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-hide="article.length == 0">
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="#/retour">Continuer
					vos achats</a></li>
		</ul>
	</div>
</div>
