<h2>Your cart</h2>

<div>

	<div class="alert alert-warning" ng-show="cartData.length == 0">
		There are no products in your shopping cart. <a href="#/products"
			class="alert-link">Click here to return to the catalogue</a>
	</div>
	<div ng-hide="cartData.length == 0">
		<table class="table">
			
			<thead>
				<th>Produit</th>
				<th>Prix unitaire</th>
				<th>Quantité</th>
				<th>Prix total</th>
			</thead>
			<tbody>
				<tr>
				<td></td>
				</tr>
			</tbody>	
		</table>