

<div>

	<div class="alert alert-warning" ng-show="article.length == 0">
	<h2>Votre Panier</h2>
	
		Votre panier et vide. <a href="#/liste" class="alert-link">Cliquer
			ici pour continuer vos achats</a>
	</div>
	<div ng-hide="article.length == 0">
	<h2>Votre Panier contient {{nbrArticle}} article(s), pour un total de {{price}} €</h2>
	
		<table class="table">

			<thead>
				<th>Produit</th>
				<th>Prix unitaire</th>
				<th>Quantite</th>
				<th>Prix total</th>
				<th>Operation</th>
			</thead>
			<tbody>
				<tr ng-repeat="prod in article">
					<td>{{prod.nom}}</td>
					<td>{{prod.prix}} <span class="glyphicon glyphicon-euro"></span></td>
					<td>{{prod.qte}} <a ng-click="addQte(prod)"
						class="btn btn-sm btn-primary">+</a> | <a
						ng-click="removeQte(prod)" class="btn btn-sm btn-danger">-</a></td>
					<td>{{prod.prix * prod.qte}}</td>
					<td><a ng-click="remove(prod)" class="btn btn-sm btn-danger">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
				
	</div>
	<div ng-hide="article.length == 0" align="center">
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="#/retour">Continuer
					vos achats</a></li>
		</ul>
		<a ng-click="ajoutLC()" class="btn btn-sm btn-danger">valider</a>
	</div>
</div>
