<meta charset="UTF-8">

<h1>Modifier un Pays</h1>

<form>
  <div class="form-group">
    <label>Numéro Client</label>
    <input type="number" class="form-control" ng-model="id_client">
    </div>
    
    
  <button class="btn btn-primary" ng-click="recherche()">Rechercher</button>
  <button type="reset" class="btn btn-danger">Reset</button>
</form>

<div ng-show="indice">
<table class="table table-hover">
    <tr>
        
        <th>Nom</th>
        <th>Description</th>
        <th>Prix unitaire</th>
        <th>Quantite</th>
        <th>Prix</th>
    </tr>
    <tr ng-repeat="prod in ligneCommande | filter:search">
        <td>{{prod.produit.nom }}</td>
        <td>{{prod.produit.description }}</td>
        <td>{{prod.prix}}</td>
        <td>{{prod.quantite}}</td>
        <td>{{prod.quantite * prod.prix}}</td>
        
    </tr>
</table>
</div>
